# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Node
node_modules
npm-debug.log
.next
out

# IDE
.idea
.vscode
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
.DS_Store
*.log 